aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
easyocr
et_xmlfile
fastapi
filelock
filetype
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
langchain_google_genai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
idna
imageio
Jinja2
jsonpatch
jsonpointer
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
lazy_loader
lxml
MarkupSafe
marshmallow
mpmath
multidict
mypy_extensions
networkx
ninja
numpy
opencv-python-headless
openpyxl
orjson
packaging
pandas
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic-settings
pydantic_core
pyparsing
pytesseract
python-bidi
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
requests
requests-toolbelt
rsa
scikit-image
scipy
setuptools
shapely
six
sniffio
SQLAlchemy
starlette
sympy
tenacity
tifffile
torch
torchvision
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
yarl
zstandard
